.borda-table {
    border: 2px solid rgba(209, 209, 209, 0.774);
    border-radius: 2px;
}

.pesquisa {
    margin-right: 8px;
    width: calc(100% - 28px);
}

input[type="file"] {
    display: none;
}

.imagem-lanche {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
}

.imagem-lanche-exclusao {
    width: 160px; 
    height: 160px;
    border-radius: 10%;
}

.imagem-lanche-informacoes {
    width: 200px; 
    height: 200px;
    border-radius: 10%;
}