<div class="container-fluid mt-5">
    <h2 class="text-center">Lanches</h2>

    <div class="borda-table mt-3">
        <p-table #dataView [value]="lanches" [columns]="colunasTabela" [responsive]="true" 
            [rows]="8" [paginator]="true" class="text-center">

            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <input type="text" pInputText placeholder="Pesquisa" class="pesquisa" [(ngModel)]="inputPesquisa"
                            (input)="dataView.filterGlobal($event.target.value, 'contains')">
                        <i class="fas fa-search" style="font-size: 1.18em;"></i>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-8 text-right">
                        <button class="btn btn-success px-5" (click)="exibirDialogCadastro()">
                            <i class="fas fa-plus"></i>
                            Cadastrar Lanche
                        </button>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-colunas>
                <tr>
                    <th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.field" [ngClass]="coluna.style" class="text-center">
                        {{ coluna.header }}
                        <p-sortIcon *ngIf="coluna.header === 'Nome' || coluna.header === 'Preço R$'" [field]="coluna.field" 
                            ariaLabel="active to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-lanche>
                <tr>
                    <td *ngFor="let coluna of colunasTabela" class="text-center">
                        <img *ngIf="coluna.field === 'imagemBase64'" [src]="lanche[coluna.field]" alt="Imagem do lanche"
                            class="imagem-lanche">
                        <span *ngIf="coluna.field !== 'imagemBase64'" class="ui-column-title text-left">
                            {{ lanche[coluna.field] }}
                        </span>
                        
                        <span *ngIf="coluna.header === 'Ações'">
                            <button class="btn btn-info mr-2 px-3" pTooltip="Informações" tooltipPosition="bottom"
                                (click)="armazenarLancheParaVisualizarInformacoes(lanche)">
                                <i class="fas fa-info text-light"></i>
                            </button>

                            <button class="btn btn-warning" pTooltip="Editar" tooltipPosition="bottom"
                                (click)="armazenarLancheParaEdicao(lanche)">
                                <i class="fas fa-pen text-light"></i>
                            </button>

                            <button class="btn btn-danger ml-2" pTooltip="Excluir" tooltipPosition="bottom"
                                (click)="armazenarLancheParaExclusao(lanche)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" class="text-center" let-lanches>
                <tr>
                    <td [attr.colspan]="lanches.length" class="text-center">
                        <span *ngIf="!processandoOperacaoListagem">
                            {{ inputPesquisa ? 'Nenhum lanche corresponde à pesquisa!' : 'Nenhum lanche encontrado!' }}
                        </span>

                        <span *ngIf="processandoOperacaoListagem && !inputPesquisa">
                            <p-progressSpinner strokeWidth="3"></p-progressSpinner>
                        </span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                Lanches Encontrados: {{ lanches ? lanches.length : 0 }}
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Dialog cadastro de Lanche -->
<p-dialog [visible]="abrirDialogCadastro || abrirDialogEdicaoLanche" [modal]="true" [blockScroll]="true" 
    [draggable]="false" [closable]="false" [style]="{width: '70vw'}">

    <p-header>{{ abrirDialogCadastro ? 'Cadastro de Lanche' : 'Alteração dos Dados do Lanche' }}</p-header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 mt-4">
                <span class="p-float-label">
                    <input type="text" style="width: 100%" maxlength="60" [(ngModel)]="formularioLanche.nome" pInputText> 
                    <label for="inputtext">Nome</label>
                </span>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <span class="p-float-label">
                    <textarea [rows]="2" [style]="{ width: '100%' }" [(ngModel)]="formularioLanche.ingredientes" 
                        pInputTextarea>
                    </textarea>
                    <label for="inputtext">Ingredientes</label>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mt-4">
                <span class="p-float-label">
                    <p-inputNumber [(ngModel)]="formularioLanche.preco" [showButtons]="true" [min]="1"
                        mode="currency" currency="BRL" locale="pt-BR">
                    </p-inputNumber>
                    <label for="inputtext">Preço</label>
                </span>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <button class="btn btn-info" style="max-height: 40px;" [disabled]="processandoUploadImagemLanche">
                    <i class="fas fa-upload mr-1"></i>
                    <input type="file" id="file"
                        (change)="eventoImagemSelecionadaParaEnvio($event)" accept=".png, .jpg">
                    <label for="file">Upload da Imagem</label>
                </button>

                <span class="ml-2" [ngClass]="{ 'fas fa-spin fa-circle-notch' : processandoUploadImagemLanche }"></span>
                <div *ngIf="!formularioLanche.imagemBase64">Nenhum arquivo selecionado!</div>
            </div>
        </div>

        <div class="text-center mt-5">
            <img *ngIf="formularioLanche.imagemBase64" [src]="formularioLanche.imagemBase64" alt="Imagem do lanche"
            class="imagem-lanche">
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="fecharDialogCadastroEdicaoLanche()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>

        <button class="btn btn-success" [disabled]="desabilitarBotaoCadastroEdicaoLanche()" 
            (click)="cadastrarEditarLanche()">
            <i class="fas " [ngClass]="processandoCadastroEdicaoLanche ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog exclusão sobre o Fornecedor -->
<p-dialog [visible]="abrirDialogExclusaoLanche" [modal]="true" [blockScroll]="true" 
    [draggable]="false" [closable]="false" [style]="{width: '30vw'}">

    <p-header>Excluir Lanche</p-header>

    <div>Deseja excluir o lanche <b>{{ lancheSelecionado.nome }}</b>?</div>
    <div class="text-center mt-2">
        <img class="imagem-lanche-exclusao" [src]="lancheSelecionado.imagemBase64" alt="Imagem do lanche">
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="fecharDialogExclusaoLanche()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>
        <button class="btn btn-success" [disabled]="processandoExclusaoLanche" 
            (click)="excluirLanche()">
            <i class="fas " [ngClass]="processandoExclusaoLanche ? 'fa-spin fa-circle-notch' : 'fa-check-circle'"></i>
            Confirmar
        </button>
    </p-footer>
</p-dialog>

<!-- Dialog informações sobre o Lanche -->
<p-dialog [visible]="abrirDialogInformacoesLanche" [modal]="true" [blockScroll]="true" 
    [draggable]="false" [closable]="false" [style]="{width: '40vw'}">

    <p-header>Informações sobre o Lanche</p-header>

    <div class="container-fluid mt-4">
        <div><b>Nome: </b>{{ lancheSelecionado.nome }}</div>
        <div><b>Ingredientes: </b>{{ lancheSelecionado.ingredientes }}</div>
        <div><b>Preço R$: </b>{{ lancheSelecionado.preco }}</div>
        <div><b>Data do Cadastro: </b>{{ formatarDataCadastroCliente(lancheSelecionado.dataCadastro) }}</div>

        <div class="mt-4 text-center">
            <img class="imagem-lanche-informacoes" [src]="lancheSelecionado.imagemBase64" alt="Imagem do lanche">
        </div>
    </div>

    <p-footer>
        <button class="btn btn-danger" (click)="fecharDialogInformacoes()">
            <i class="fas fa-arrow-circle-left"></i>
            Voltar
        </button>
    </p-footer>
</p-dialog>